@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  body {
    background: white !important;
  }
  
  body * {
    visibility: hidden;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  #print-area, #print-area * {
    visibility: visible;
  }
  
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0 !important;
    background: transparent !important;
  }
  
  /* Reset styles for the preview pages in print mode */
  .preview-page {
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    min-height: auto !important;
    width: 100% !important;
    max-width: none !important;
    border-radius: 0 !important;
  }

  .page-break {
    display: block !important;
    page-break-before: always !important;
    height: 0;
  }
  
  body.print-pdf-only .page-break {
    display: none !important;
  }
}
